
<h1>Share Image With:<h2>
<%= @id_list%>


	<%= form_tag share_path do %>
		<div><%= label_tag :user_emails%></div>
		<div><%= text_area_tag :user_emails %></div>
		<%= hidden_field_tag :id_list ,@id_list %>
		<%= submit_tag "ShareWithThem"%>
	<% end %>